/*Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
@font-face {
    font-family: 'Times New Roman';
    /*font-family: 'Roboto-Regular';*/
    /*src:url(../fonts/Roboto-Regular.ttf) format('truetype');*/
}
html,body{
	background:#fff;
	font-size: 100%;
	font-family: 'Times New Roman';
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
ul{
	padding: 0;
	margin: 0;
}
h1,h2,h3,h4,h5,h6,label,p{
	margin:0;	
}
/*----*/
.logo span {
    color: #fa03bb;
}
.header-top {
    padding: 15px 0;
    border-bottom: 1px solid #d0d0d0;
}
.header-left{
	margin-top: 4px;
}
.header-left ul li{
	display: inline-block;	
}
.header-left ul li a{
	text-decoration: none;
	color:#fff;
	font-size: 1.1em;
	margin: 0 2em 0 0;
}
.header-left ul li a:hover{
	color:  #EF5F21; 
}
.head-top {
  padding: 0.5em 0;
}
.number p {
    color:#7e7e7e;
    font-size: 0.9em;
}
.number span {
  color:#403b37;
  font-size: 1em;
}
/* start menu */
.navbar-default {
    background-color:#f1b458 !important;
    border-color:#f1b458;
    border-radius: 0px;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-weight: 300;
}
.navbar-default .navbar-nav > li > a span{
	display:block;
}
.navbar {
   min-height:100%;
   margin-bottom:0;
}
.navbar-nav {
   margin:0 auto;
	width:100%;
}
.navbar-brand {
    height: 100%;
    padding: 0;
    margin: 20px 0 0 0;
    padding-left: 15px;
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 500;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-nav > li > a {
    padding: 10px 15px;
    text-align: center;
    color: #fff;
    font-weight: 100;
    font-size: 15px;
}
.dropdown-menu.columns-2 {
    min-width: 400px;
} 
.dropdown-menu.columns-3 {
    min-width:550px;
}
.multi-column-dropdown {
    list-style: none;
    padding: 0;
    margin: 0;
}
.multi-column-dropdown li a {
    display: block;
    clear: both;
    line-height: 1.428571429;
    color: #333;
    white-space: normal;
}
.multi-column-dropdown li a:hover {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}
.dropdown-menu li a {
    padding: 5px 15px;
    font-weight: 300;
}
.dropdown-menu {
    right: 260px !important;
    left:inherit;
}    
.nav_bottom{
	background:none;
}
.nav-tabs {
    display: inline-block;
    border-bottom: none;
    font-weight: bold;
    padding-top:15px;
}
.nav-tabs1{
    display: inline-block;
    border-bottom: none;
    font-weight:500;
    background-color:#f1b458;
    width: 100%;
    padding:0;
}
.nav-tabs > li > a, 
.nav-tabs > li > a:hover, 
.nav-tabs > li > a:focus, 
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: none;
  border-radius: 0;
}
.nav-list { border-bottom: 1px solid #eee; }
.nav-list > li { 
  padding:20px 15px 15px;
  border-left: 1px solid #eee; 
  margin-right: 0 !important;
}
.nav-list > li:last-child { border-right: 1px solid #eee; }
.nav-list > li > a:hover { text-decoration: none; }
.nav-list > li > a > span {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}
.mega-dropdown { position: static !important; }
.mega-dropdown-menu {
  padding: 20px 15px 15px;
  text-align: center;
  width: 53%;
}
ul.nav_1 {
    text-align: center;
}
ul.nav_1 li {
    margin-right: 44px;
    float: none;
    display: inline-block;
}
.navbar-nav>li>.dropdown-menu li{
	margin-right:0px;
}
ul.nav_1 li a {
	color: #7e7e7e;
}
ul.nav_1 li.last{
	margin-right:0;
/*-- w3layouts --*/	
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus, .nav>li>a:hover, .nav>li>a:focus{
    background-color:#fff !important;
    border-color:#fff;
    color:#7e7e7e !important;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}
ul.nav-list.list-inline li {
    float: left;
}
/*--banner--*/
.up-t {
    padding: 8.2em 0 0;
}
.col-md3 h3 {
    color: #fff;
    font-size: 4em;
    font-family: 'Poiret One', cursive;
    font-weight: 700;
    background: rgba(250, 3, 187, 0.5);
    padding: 0.3em;
}
.tes {
    position: absolute;
    top: 11em;
    left: 20em;
}
.tes h2 {
    font-size: 4em;
    color:#fa03bb;
	margin:0;
	font-family: 'Poiret One', cursive;
	font-weight:700;
}
.tes p {
    font-size: 2em;
    color: #fa03bb;
    margin: 0.5em;
	text-align:right;
}
.tes h3 {
    font-size: 2em;
    color: #ffffff;
    margin: 0.5em;
	/*-- agileits --*/
	text-align:right;
}
.tes h4 {
    font-size: 4em;
    color:#ffffff;
    margin: 1em 0 0;
	text-align:center;
	font-family: 'Poiret One', cursive;
	font-weight:700;
}
/*--header--*/
.logo {
    padding: 0 0em 0 2.5em;
}
.logo h1 a {
    color: #403b37;
    font-size: 1em;
    text-decoration: none;
	font-family: 'Poiret One', cursive;
	font-weight:700;
}
.world h6 {
    color: #fa03bb;
    font-size: 1.2em;
    margin: 0;
	font-family: 'OleoScript-Regular';
}
.world p {
    color: #fa03bb;
    font-size: 0.9em;
    margin: 0;
}
.search {
  text-align: right;
  margin-top: 1%;
}
i.glyphicon.glyphicon-search {
  color:#fa03bb;
  font-size: 1em;
}
.world {
    text-align: center;
}
i.glyphicon.glyphicon-phone {
  margin: 0 4% 0 0;
}
/*--cart--*/
.itemContainer{
	width:100%;
/*-- w3layouts --*/
	float:left;
}
.itemContainer div{
	float:left;
	margin: 5px 20px 5px 20px ;
}
.itemContainer a{
	text-decoration:none;
}
.cartHeaders{
	width:100%;
	float:left;
}
.cartHeaders div{
	float:left;
	margin: 5px 20px 5px 20px ;
}
.item_add {
  color: #000;
  border:none;
}	
a.item_add {
 text-decoration: none;
}		
.grid_1 img{
	margin-bottom:1em;
}
.box_1 h3{
  color: #7e7e7e;
  font-size: 1em;
}
.box_1 h3 img{
	margin-left: 5px;
}
.box_1 p a{
  color: #7e7e7e;
  font-size: 0.77em;
}
.total {
  display: inline-block;
}
/*--- slider-css --*/
.slider {
	position: relative;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  /*-- agileits --*/
  width: 100%;
  padding: 0;
  margin: 0;
  }
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
.callbacks_tabs a:after {
	content: "\f111";
	font-size: 0;
	font-family: FontAwesome;
	visibility: visible;
	display: block;
	height: 0px;
	width: 0px;
	display: inline-block;
	background:#403b37;
	border-radius:50px;
}
.callbacks_here a:after{
	background:#fa03bb;
}
.callbacks_tabs a{
	visibility:hidden;
}
.callbacks_tabs li{
	display:inline-block;
}
ul.callbacks_tabs.callbacks1_tabs {
	position: absolute;
	bottom: 14px;
	z-index: 999;
	left: 45%;
}
.banner-mat{
	padding:0;
}
.glyphicon {
    line-height: normal;
}
/*--content--*/
.content-top h1{
	color:#010101;
	font-size: 3em;
	font-family: 'OleoScript-Regular';
	text-align: center;
	margin: 0 0 1em;
}
.col-md1 img{
	margin: 0 auto;
}
.col-md1 h3 {
    font-size: 1.1em;
    line-height: 1.1em;
    text-align: center;
    margin: 1em 0 0.7em;
    color: #000;
}
.col-md1 h3 a {
    color: #fa03bb;
    text-decoration: none;
    font-family: 'Poiret One', cursive;
    font-weight: 700;
}
.price h5 {
    color: #000;
    font-size: 1.2em;
    margin: 14px 0;
}
.price {
    text-align: center;
}
.price a {
    color: #FFF;
    font-size: 0.8em;
    display: block;
    background-color: #403b37;
    padding: 0.3em 0.6em;
    border-radius: 3px;
    text-decoration: none;
    width: 43%;
    margin: 0 auto;
}
.content-top {
  padding: 4em 0;
}
.content-top1 {
  padding: 1em 0;
}
.col-md1 {
    padding: 1em;
    background-color: #eee;
}

.col-md1:hover .price a {
  background-color:#fa03bb;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
.content-top h4 {
    color: #000;
    font-size: 2em;
    margin: 0;
}
.content-top p {
    font-size: 1em;
    color: #777;
    line-height: 1.8em;
    margin: 2em 0;
}
.col-md3 {
    text-align: center;
}
.col-md3 {
    background: url(../images/11.jpg) no-repeat;
    min-height: 399px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}
.con-tp-lft {
    padding: 0;
}
.c-btm {
    padding: 4em 0;
}
/* Shutter In Horizontal */
.hvr-shutter-in-horizontal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    background: #000;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    text-decoration: none;
    padding: 0.4em 0.8em;
    font-size: 0.85em;
    color: #fff;
}
.hvr-shutter-in-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:#52D0C4;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-in-horizontal:hover, .hvr-shutter-in-horizontal:focus, .hvr-shutter-in-horizontal:active {
  color: white;
  text-decoration: none;
}
.hvr-shutter-in-horizontal:hover:before, .hvr-shutter-in-horizontal:focus:before, .hvr-shutter-in-horizontal:active:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}
.more:hover{
	background: #fff;
	color:#000;
}
/*--footer--*/
.top-footer iframe{
	width: 100%;
	min-height:300px;
	border: none;
}
.top-footer1 h3 {
    font-size: 2em;
    color: #fa03bb;
    margin: 0 0 0.5em;
	font-family: 'Poiret One', cursive;
	font-weight:700;
}
.top-footer h3 {
    font-size: 2em;
    color: #fa03bb;
    margin: 0 0 0.5em;
	font-family: 'Poiret One', cursive;
	font-weight:700;
}
.top-footer1 input[type="text"] {
  width: 65%;
  padding: 0.6em;
  outline: none;
  color: #BDBDBD;
  font-size: 1em;
  background: none;
  border: 1px solid #BDBDBD;
}
.top-footer1 input[type="submit"] {
  font-size: 0.9em;
  color: #fff;
  background-color:#403b37;
  border: none;
  padding: 0.8em 0em;
  width: 30%;
  vertical-align: top;
  outline: none;
}
.top-footer1 input[type="submit"]:hover {
  background-color:#fa03bb;
}
.footer {
  border-top: 1px solid #BDBDBD;
}
.footer-top {
  padding: 3em 0 ;
}
.footer-bottom-cate h6 {
    font-size: 1.6em;
    color: #fa03bb;
    margin: 0 0 1em;
	font-family: 'Poiret One', cursive;
	font-weight:700;
}
.footer-bottom-cate ul{
	padding: 0;
	margin: 0;
}
.footer-bottom-cate ul li{
	list-style: none;
	padding: 0.2em 0;
}
.footer-bottom-cate ul li a {
	text-decoration:none;
	font-size: 0.8em;
	color: #B2B2B2;
}
.footer-bottom-cate ul li a:hover{
	color:#ffffff;
	padding-left: 5px;
}
.cate-bottom ul li  {
	font-size:0.8em;
	color: #B2B2B2;
}
.cate-bottom ul li.phone {
	color:#fa03bb;
	padding: 1em 0 0em;
}
p.footer-class {
  font-size: 1em;
  color:  #B2B2B2;
  margin: 2em 0 0;
  text-align:center;
}
p.footer-class a{
  text-decoration:none;
  color: #fa03bb;
}
p.footer-class a:hover{
  color:  #B2B2B2;
}
.footer-bottom {
    padding: 4em 0;
    background:#252323;
}
/*--//footer--*/
.footer-bottom-cate.cate-bottom ul li i {
    border: 1px solid #999;
    padding: .5em;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    -ms-border-radius: 100%;
    margin-right: 1em;
}
/*-- contact --*/
.contact {
  padding: 4em 0;
}
.contact h3 {
    font-size: 3em;
    color: #fa03bb;
    margin: 0 0px 1em;
    text-align: center;
	font-family: 'Poiret One', cursive;
	font-weight:700;
}
.contact-bottom  span,.contact-bottom-top span{
	font-size:1.2em;
	color:#fff;
	display:block;
	padding:0 0 0.5em;
}
.contact-bottom  input[type="text"]{
	width:100%;
	padding:0.7em;	
	border:1px solid #bbb;
	-webkit-appearance:none;
	outline:none;
	color:#b2b2b2;
	outline-color:#52D0C4;
	  background: none;
}
.contact-bottom-top textarea{
	width:100%;
	padding:1em;	
	border:1px solid #bbb;
	-webkit-appearance:none;
	outline:none;
	color:#bbb;
	min-height:220px;
	resize:none;
	outline-color:#52D0C4;
	 background: none;
}
.contact-bottom-top {
	  margin: 1em 15px 0;
}
.contact-form input[type="submit"]{
	background: #403b37;
	color: #fff;
	border: none;
	outline: none;
	margin:1em 15px 0;
	padding: 0.3em 1em;
	font-size: 1.2em;
	display: inline-block;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.contact-form input[type="submit"]:hover{
	background: #fa03bb;
}
.address-grid i{
	color:#403b37;
	font-size:4em;
	float: left;
	margin: 0 9% 0 0;
  display: inline-block;
}
.address1{
	float: left;
	  margin-top: 0.5em;
}
.address1 p{
	font-size:1.8em;
	color: #b2b2b2;
	line-height: 1.7em;	
	
}
.address1 p a{
	text-decoration:none;
	color: #b2b2b2;
}
.address1 p a:hover{
	color:#fa03bb;
}
.address-more h2{
	color:#fa03bb;
	font-size:2em;
	margin: 0 15px 0.7em;
	font-family: 'Poiret One', cursive;
	font-weight:700;
}
.address {
  padding: 3em 0 0;
}
.contact span {
	color: #b2b2b2;
	font-size:0.9em;
	padding-bottom: 0.2em;
	display: block;
}
/*--//contact--*/
.breadcrumb1 li span {
    left: 0em;
    padding-right: 1em;
    color: #fa03bb;
}
.breadcrumbs {
    padding: 1.5em 0 !important; 
    background: #f5f5f5 !important;
   
}
.breadcrumb {
    padding: 0px 15px;
     margin-bottom: 0 !important;
}
.breadcrumb1 li a {
    color: #fa03bb;
    text-decoration: none;
}
.breadcrumb > .active {
    color: #777;
}
.breadcrumb1 li {
    font-size: 1em;
    color: #999;
}
/*--login--*/
.account h2 {
    color: #fa03bb;
    font-size: 3em;
    margin: 0 0 1em;
    text-align: center;
	font-family: 'Poiret One', cursive;
	font-weight:700;
}
.login-left h4{
	color:#fa03bb;
	font-size: 1.3em;
}
 .login-left p {
	color: #b2b2b2;
	display: block;
	font-size: 0.9em;
	margin: 1em 0 1.5em 0;
	line-height: 1.8em;
	width: 95%;
}
.acount-btn {
	background:#403b37;
	color: #FFF;
	font-size: 0.9em;
	padding: 0.4em 1em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
}
.acount-btn:hover, .login-right input[type="submit"]:hover{
	background:#fa03bb;
	text-decoration:none;
	color:#fff;
}
.login-right form {
	padding: 1em 0;
}
.login-right span {
	color: #b2b2b2;
	font-size:0.9em;
	padding-bottom: 0.4em;
	display: block;
}
.word-in{
	margin: 0.5em 0 0;
}
.login-right input[type="text"] {
	border: 1px solid #bbb;
	outline-color:#fa03bb;
	width: 96%;
	font-size:0.9em;
	padding:10px;
	  margin: 0.5em 0;
}
.login-right input[type="password"] {
	border: 1px solid #bbb;
	outline-color:#fa03bb;
	width: 96%;
	font-size:0.9em;
	padding:10px;
	  margin: 0.5em 0;
}
.login-right input[type="submit"] {
	background:#403b37;
	color: #FFF;
	font-size: 0.9em;
	padding: 0.4em 1em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
	border:none;
	outline:none;
}
a.forgot {
	font-size: 0.8125em;
	  color: #000000;
}
.account {
  padding: 4em 0;
}
/*--register--*/
ul.social li i {
    display: inline-block;
    background: url(../images/img-sprite.png) no-repeat -8px -64px;
    width: 47px;
    height: 47px;
    margin: 0 5px 0 0;
}
ul.social li i:hover {
    background-position: -8px -8px;
}
ul.social li i.facebook {
    background-position: -64px -64px;
}
ul.social li i.facebook:hover {
    background-position: -64px -8px;
}
ul.social li i.linked {
    background-position: -121px -64px;
}
ul.social li i.linked:hover {
    background-position: -121px -8px;
}
ul.social li i.google {
    background-position: -176px -64px;
}
ul.social li i.google:hover {
    background-position: -176px -8px;
}
ul.social li {
    display: inline-block;
}
ul.social {
    padding:0;
}
/*--register--*/
.register h2 {
	color:#fa03bb;
	font-size:3em;
	margin:0 0 1em;
	text-align:center;
	font-family:'Poiret One', cursive;
	font-weight:700;
}
.register-top-grid span, .register-bottom-grid span {
	color:#b2b2b2;
	font-size: 0.9em;
	padding-bottom: 0.2em;
	display: block;
}
.register-top-grid input,.register-bottom-grid input {
	border: 1px solid #EEE;
	outline-color:#fa03bb;
	width: 100%;
	font-size: 1em;
	padding: 0.5em;
	margin: 0.5em 0;
}
.register-bottom-grid input[type="password"] {
	border: 1px solid #EEE;
	outline-color:#fa03bb;
	width: 100%;
	font-size: 1em;
	padding: 0.5em;
	margin: 0.5em 0;
}
.checkbox {
	margin-bottom: 4px;
	padding-left: 27px;
	font-size: 1.2em;
	line-height: 27px;
	cursor: pointer;
}
.checkbox {
	position: relative;
	font-size: 0.9em;
	color:#000;
}
.checkbox:last-child {
	margin-bottom: 0;
}
.news-letter {
	color: #000;
	font-size: 1em;
	margin-bottom: 1em;
	display: block;
	text-transform: uppercase;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	clear: both;
}
.checkbox i {
	position: absolute;
	bottom: 5px;
	left: 0;
	display: block;
	width:20px;
	height:20px;
	outline: none;
	border: 2px solid #fa03bb;
}
.checkbox input + i:after {
    content: '';
    background: url("../images/check.png") no-repeat 0px 0px;
    top: 0px;
    left: 0px;
    width: 15px;
    height: 15px;
    font: normal 12px/16px FontAwesome;
    text-align: center;
}
.checkbox input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.checkbox input {
	position: absolute;
	left: -9999px;
}
.checkbox input:checked + i:after {
	opacity: 1;
}
.news-letter:hover {
	color:#00BFF0;
}
.register-but{
	margin-top:1em;
}
.register-but  input[type="submit"] {
	background:#fa03bb;
	color: #FFF;
    width: 100px;
	font-size:1em;
	padding: 0.4em 1em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	border:none;
	outline:none;
}
.register-but input[type="submit"]:hover {
	background:#403b37;
}
.mation{
	padding: 1em 0;
}
.register {
	padding: 4em 0;
}
/*--product--*/
.products h2{
	color:#fa03bb;
	font-size: 3em;
	text-align: center;
	margin: 0 0 1em;
	font-family: 'Poiret One', cursive;
	font-weight:700;
}
.products {
  padding: 4em 0;
}
/*--menu-drop--*/
h3.cate {
    color: #fa03bb;
    font-size: 1.5em;
    font-family: 'Poiret One', cursive;
    font-weight: 700;
}
ul.kid-menu{
	display: block !important;
}
.rsidebar.span_1_of_left {
    margin-bottom: 2em;
}
.menu-drop {
	width: auto;
	height: auto;
	padding: 0;
	list-style: none;
	margin: 0.5em 0;	
}
.menu-drop > li > a {
	width: 100%;
  margin: 0.3em 0;
	display:inline-block;
	position: relative;
	color: #B2B2B2;
	font-size: 0.9em;
	text-decoration:none;
}
.menu-drop > li > a:hover{
	color:#403b37;
}
.menu-drop ul li a {	
	width: 100%;
	display: inline-block;
	position: relative;
	font-size:0.9em;
	margin:0.3em 0;
	color: #403b37;
	text-decoration:none;
	text-indent: 1.2em;
}
.menu-drop ul li a:hover{
	color:#000;
}
ul.kid-menu li,ul.cute li{
	list-style: none;	
}
/*--//menu-drop--*/
/*----*/
.fashion-grid{
	float:left;
	  width: 24%;
}
.fashion-grid1{
	float: right;
	  width: 68%;
}
h6.best2 {
  font-size: 0.9em;
  line-height: 1.5em;
}
h6.best2 a{
 	color:#B2B2B2;
 	text-decoration: none;
}
h6.best2 a:hover{
	color:#403b37;
}
span.price-in1 {
  font-size: 1.3em;
  padding: 0.3em 0 0;
  display: block;
  color:#fa03bb;
}
.product-go {
  padding: 1em 0;
}
/*--tag--*/
.tag {
  padding: 2em 0;
}
.tags {
  padding: 1.5em 0 0;
}
.tags ul li {
	display: inline-block;
	float:left;
	width: 22.8%;
  	margin: 0.5em 2% 0 0;
 	 text-align: center;
}
.tags li a {
	font-size: 0.9em;
	display:block;
	padding: 0.3em 0.4em;
	text-decoration: none;
	color: #B2B2B2;
	border: 1px solid #B2B2B2;
}
.tags li a:hover {
	color: #fff;
	background:#403b37;
	border: 1px solid #403b37;
}
.tags ul li:nth-child(4),.tags ul li:nth-child(8),.tags ul li:nth-child(12){
	margin:0.5em 0 0;
}
/*--typo-single--*/
.thumb-image { width: 305px; }

.thumb-image > img { width: 100%; }
/*--single--*/
.single-para h2 {
    font-size: 1.5em;
    color: #fa03bb;
    line-height: 1.5em;
    font-family: 'Poiret One', cursive;
    font-weight: 700;
}
label.add-to{
	display:block;
	font-size: 2em;
	color:#fa03bb;
}
.single-para p{
	font-size:0.9em;
	color:#B2B2B2;
	line-height:1.8em;
}
a.cart{
  padding: 0.3em 0.7em;
  color: #FFF;
  background: #403b37;
  margin: 1.5em 0 0;
  font-size: 1em;
  display:inline-block;
  line-height: 1.6em;
  text-align: center;
  text-decoration:none;
}
a.cart:hover{
	background:#fa03bb;
}
/*----*/
.star-on {
  padding: 1em 0;
}
.star-on ul {
  float:left;
}

.star-on ul li{
	display: inline-block;
}
.star-on ul li i{
	color:#000;
}
.review{
	float:left;
	  padding: 0 1em;
}
.star-on a{
	text-decoration:none;
	font-size:1em;
	color:#403b37;
}
.star-on a:hover{
	color:#fa03bb;
}
.single-bottom h4{
	color:#000;
	font-size:1.5em;
	padding:0.5em;
	border-bottom:1px solid #fa7455	;
}
.single {
  padding: 4em 0;
}
.available h6{
	color:#403b37;
	font-size:1.4em;
	padding: 0 0 1em;
}
.available ul li{
	display:inline-block;
	padding:0 0.5em 0 0;
	color:#4c4c4c;
	font-size:0.9em;
}
.available ul li select {
  outline: none;
  padding: 3px;
}
.available {
  padding: 2em 0 1em;
}
/*--checkout--*/
.check-out{
	padding:4em 0em;
}
table{
	width:100%;
	  margin: 0em 0 2em;
}
th{
	color: #403b37;
  	font-size: 1.2em;
    font-weight: 400;	
}
th, td {
    padding: 10px;
}
td{
	color:#b2b2b2;
  font-size: 1em;
}
a.at-in {
  float: left;
    width: 20%;
}
.sed {
    float: right;
	width: 74%;
}
.sed h5{
     color: #403b37;
  	font-size: 1.1em;
}
.sed p{
    color:#b2b2b2;
	font-size:0.8em;
	line-height:1.8em;
	padding:1em 0 0;
}
.check input[type="text"]{
    width: 76%;
  padding: 0.3em;
  margin: 1em 0;
  background: #fff;
  outline: none;
  text-align: center;
   border: 1px solid #000;
}
.check{
	width:6%;
}
.ring-in{
	width:45%;
}
.check-out h2 {
    font-size: 3em;
  color: #fa03bb;
  margin: 0 0px 1em;
  text-align: center;
}
a.to-buy{
	padding: 0.3em 0.7em;
  color: #FFF;
  background: #403b37;
  margin: 0.5em 0 0;
  font-size: 1em;
  display: inline-block;
  line-height: 1.6em;
  text-align: center;
  text-decoration: none;
}
a.to-buy:hover{
  background: #fa03bb;
}
/*--//checkout--*/
/*-- content --*/
.content-lgrid,.content-img-left,.content-rgrid{
	padding:0;
}
.content-lgrid{
	width:66.66%;
}
.content-rgrid {
    width: 33.334%;
}
.content-img-right {
    padding: 104px 50px 0px;
    background: #f7f7f7;
    text-transform: uppercase;
	min-height:343px;
}
/* CSS3 Hover Effects */
.img-box, .info-box {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.img-box img, .info-box img {
  display: block;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.img-box {
  position: relative;
}
.info-box {
  top: 0;
  left: 0;
  position: absolute;
}
.info-box .info-content {
  display: block;
  position: relative;
  padding: 0%;
  float: left;
  left: 50%;
  top: 50%;
  position: relative;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.separator {
    display: block;
    position: relative;
    height: 1px;
    width: 100%;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.5);
    clear: both;
}
.content-grid-effect {
  display: block;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  overflow: hidden;
}
.content-grid-effect .info-content {
  z-index: 2 !important;
  filter: alpha(opacity=0);
  -wekbit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.content-grid-effect .img-box:after, .content-grid-effect .img-box:before, .content-grid-effect .info-box:after, .content-grid-effect .info-box:before {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  -webkit-transition: 0.8s ease-in-out;
  -moz-transition: 0.8s ease-in-out;
  -ms-transition: 0.8s ease-in-out;
  -o-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  filter: alpha(opacity=0);
  -wekbit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.content-grid-effect.horizontal .img-box:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 25%;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
.content-grid-effect.horizontal .img-box:after {
  top: 25%;
  left: 0;
  width: 100%;
  height: 25%;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
.content-grid-effect.horizontal .info-box:after {
  top: 50%;
  left: 0;
  width: 100%;
  height: 25%;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
.content-grid-effect.horizontal .info-box:before {
  top: 75%;
  left: 0;
  width: 100%;
  height: calc(25% + 1px);
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
.content-grid-effect.vertical .img-box:before {
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg);
}
.content-grid-effect.vertical .img-box:after {
  top: 0;
  left: 25%;
  width: 25%;
  height: 100%;
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg);
}
.content-grid-effect.vertical .info-box:after {
  top: 0;
  left: 50%;
  width: 25%;
  height: 100%;
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg);
}
.content-grid-effect.vertical .info-box:before {
  top: 0;
  left: 75%;
  width: calc(25% + 1px);
  height: 100%;
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg);
}
.content-grid-effect:hover .img-box:after, .content-grid-effect:hover .img-box:before, .content-grid-effect:hover .info-box:after, .content-grid-effect:hover .info-box:before {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  filter: alpha(opacity=100);
  -wekbit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.content-grid-effect:hover .info-content {
  filter: alpha(opacity=100);
  -wekbit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.slow-zoom .img-box {
  z-index: 0;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 2.2s ease-in-out;
  -moz-transition: all 2.2s ease-in-out;
  -ms-transition: all 2.2s ease-in-out;
  -o-transition: all 2.2s ease-in-out;
  transition: all 2.2s ease-in-out;
}
.slow-zoom:hover .img-box {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}
.slow-zoom {
  display: block;
  overflow: hidden;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.content-img-right h3 {
    color: #000;
    font-size: 24px;
}
.content-img-right h3 span {
    color: #FDA30E;
    display: block;
    font-size: 51px;
	margin:15px 0;
}
.info-content h4 {
    font-size: 35px;
    color: #fa03bb;
    text-transform: uppercase;
}
/*-- //content --*/
/*--responsive--*/
@media(max-width:1366px){
.tes {
    top: 9em;
    left: 13em;
}
}
@media(max-width:1280px){
.tes {
    top: 8em;
    left: 10em;
}
}
@media(max-width:1024px){
.content-top h1 {
  font-size: 2.5em;
  margin: 0 0 0.3em;
}	
.content-top {
  padding: 3em 0;
}
.top-footer1 input[type="submit"] {
  width: 33%;
}
.banner-mat img {
  height: 256px;
  width: 100%;
}
.footer-bottom {
  padding: 3em 0;
}
ul.nav_1 li {
    margin-right: 42px;
}
.tes h2 {
    font-size: 3em;
}
.tes h3 {
    font-size: 1.5em;
}
.tes h4 {
    font-size: 3em;
}
.tes p {
    font-size: 1.5em;
}
.tes {
    top: 7em;
    left: 8em;
}
.price a {
    width: 50%;
}
.col-md3 {
    min-height: 394px;
}
.top-footer h3 {
    font-size: 1.8em;
}
.top-footer1 h3 {
    font-size: 1.8em;
}
.footer-bottom-cate h6 {
    font-size: 1.5em;
}
/*--products--*/
.products {
  padding: 3em 0;
}
.products h2 {
  font-size: 2.5em;
}
.tags li a {
  font-size: 0.77em;
}
/*--single--*/
.thumb-image {
  width: 242px;
}
/*--contact--*/
.contact {
  padding: 3em 0;
}
.contact h3 {
  font-size: 2.5em;
    margin: 0 0px 0.8em;
}
.address1 p {
    font-size: 1.4em;
}
/*--account--*/
.account h2,.register h2 {
  font-size: 2.5em;
}
.account,.register {
  padding: 3em 0;
}
/*--checkout--*/
.check-out {
  padding: 3em 0em;
}
.check-out h2 {
  font-size: 2.5em;
}
/*--typo--*/
.page {
  padding: 3em 0;
}
h1.typo1 {
  font-size: 2.5em;
}
.col-md3 h3 {
    font-size: 3.5em;
}
ul.nav-list.list-inline li {
    width: 33.33%;
}
}
@media(max-width:991px){
.number span {
    font-size: 0.82em;
    margin-top: 0.5em;
}
ul.nav_1 li {
    margin-right: 9px;
}
.navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
}
.logo {
    padding: 0 0em 0 0em;
}
.search {
    margin-top: 2%;
}
.banner-mat img {
  height: 186px;
}
.content-top1 {
  padding: 0em 0;
}
.content-top h1 {
  margin: 0 0 1em;
}
.content-top {
  padding: 3em 0 1em;
}
.top-footer1 {
  margin: 2em 0 0;
}
.top-footer1 input[type="text"] {
    width: 70%;
}
.top-footer1 input[type="submit"] {
  width: 28%;
}
.world ,.logo,.header-left{
  width: 33.33%;
  float: left;
}
.number ,.search{
  width: 16.66%;
  float: left;
}
.h_menu4 {
  float: left;
  width: 66.66%;
}
.footer-bottom-cate {
  float: left;
  width: 25%;
}
.number {
  margin-top: 0%;
    padding: 0;
}
.col-md2 {
    float: left;
    width: 25%;
}
.col-md3 {
	float:left;
    width: 52%;
    margin: 0 0 2em;
}
.col-md3 {
    min-height: 313px;
}
.price a {
    width: 73%;
}
.tes {
    top: 2em;
    left: 5em;
}
.tes h2 {
    font-size: 2.3em;
}
.tes h3 {
    font-size: 1.2em;
}
.tes h4 {
    font-size: 2.3em;
}
.tes p {
    font-size: 1.2em;
}
.col-md1 h3 {
    font-size: 1em;
}
.price h5 {
    font-size: 1.1em;
}
.con-tp-lft {
    float: left;
    width: 33.33%;
}
.top-footer {
    float: left;
    width: 50%;
}
.top-footer1 {
    margin: 0em 0 0;
    float: left;
    width: 50%;
}
.top-footer h3 {
    font-size: 1.5em;
}
ul.social {
    padding: 0em 0 0;
}
.footer-bottom-cate h6 {
    font-size: 1.2em;
}
/*--products--*/
.fashion-grid1 {
  width: 85%;
}
.fashion-grid {
  width: 9%;
}
.tags li a {
  font-size: 0.9em;
}
/*--single--*/
.grid {
  width: 50%;
  float: left;
}
.thumb-image {
  width: 305px;
}
.single-top-in {
  width: 50%;
  float: left;
}
.single {
  padding: 3em 0;
}
/*--contact--*/
.in-contact {
  margin: 1em 0 0;
}
.contact h3 {
  margin: 0 0px 0.3em;
}
.address-grid i {
  font-size: 3em;
  margin: 0 5% 0 0;
}
.address1 p {
  font-size: 1.4em;
  line-height: 1.7em;
}
.address-grid {
  margin: 0 0 1em;
}
/*--account--*/
.account h2 ,.register h2{
  margin: 0;
}
/*--checkout--*/
.sed p {
  padding: 0.5em 0 0;
}
.check-out {
  padding: 3em 0em;
}
/*--typo--*/
h1.grid2 {
  font-size: 2.3em;
}
.col-md3 h3 {
    font-size: 3em;
}
.up-t {
    padding: 7.2em 0 0;
}
.dropdown-menu {
    right: 170px !important;
}
}
@media (max-width: 736px){
p.log {
  width: 60%;
}
.number span {
  font-size: 0.75em;
}
.n-avigation {
    width: 100%;
    float: left;
}
.navbar-toggle {
    float: left;
}
.header-left {
    width: 14%;
    padding: 0;
}
ul.nav_1 li {
    display: block;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 3px;
    border-radius: 1px;
    background-color: #fa03bb;
}
.nav-list > li {
    padding: 0px 15px 15px;
}
.price a {
    width: 76%;
}
.col-md3 {
    min-height: 297px;
}

.tes {
    padding: 1em;
}
.head-top {
    padding: 0;
}
}
@media (max-width: 667px){
p.log {
  font-size: 0.77em;
}
.info-content h4 {
    font-size: 25px;
}
.tes {
    padding: 0.5em;
}
.col-md3 h3 {
    font-size: 2em;
}
}
@media(max-width:640px){
.world {
    width: 35%;
    padding: 0;
}	
select.in-drop, select.in-drop1 {
  font-size: 0.8em;
}
.box_1 h3 {
  font-size: 0.85em;
}
.header-left {
    width: 14%;
    padding: 0;
}
.logo {
    width: 38%;
}
.logo img{
  width: 80%;
  margin: 0 auto;
}
.number {
  padding: 0;
  width: 20%;
}
.h_menu4 {
  width: 63%;
}
.search {
  padding: 0;
}
.banner-mat img {
  height: 152px;
}
.content-top h1 {
  font-size: 2em;
}
.cate-bottom ul li {
  font-size: 0.9em;
}
.search {
    width: 4.66%;
    float: left;
}
.tes h2 {
    font-size: 2em;
}
.tes h4 {
    font-size: 2em;
}
.price a {
    width: 80%;
}
.col-md3 {
    min-height: 270px;
	margin:0 0 1em;
}
.top-footer1 h3 {
    font-size: 1.5em;
}
.top-footer {
    width: 45%;
}
.top-footer1 {
    width: 55%;
}
.top-footer1 input[type="submit"] {
    width: 30%;
}
.top-footer1 input[type="text"] {
    width: 68%;
}
.footer-bottom {
    padding: 3em 0 1em;
}
/*--product--*/
.col-md1 {
  padding: 0.5em;
}
.price h5 {
  font-size: 1.1em;
}
.price a {
  padding: 0.3em 0.5em;
}
/*--single--*/
.single-top-in {
  width: 100%;
  float: left;
    margin: 0 0 2em;
}
.grid {
  width: 53%;
}
.thumb-image {
  width: 257px;
}
/*--contact--*/
.contact {
  padding: 2em 0;
}
/*--account--*/
.account,.register {
  padding: 2em 0;
}
/*--checkout--*/
th, td {
  padding: 10px 4px;
}
/*--typo--*/
button.btn.btn-lg {
  font-size: 1.1em;
}
h1.grid2 {
  font-size: 2em;
}
h2.grid2 {
  font-size: 1.9em;
}
h3.typo1 {
  font-size: 2.5em;
}
.page {
  margin: 2em 0;
}
}
@media (max-width: 600px){
select.in-drop, select.in-drop1 {
  font-size: 0.7em;
}
}
@media (max-width:568px){
.world {
    width: 28%;
    padding: 0;
    text-align: left;
}
.number {
    width: 36%;
    text-align: center;
}
.search {
    width: 22%;
}
.head-top {
    padding: 0em 0 0;
}
.header-left {
    width: 15%;
    padding: 0;
}
.header {
    padding: 0em 0 0;
}
.header-top {
    padding: 10px 0;
}
.logo {
    width: 100%;
    padding: 0;
    text-align: center;
    margin-bottom: 10px;
}
}
@media(max-width:480px){
.matter-banner,.banner-mat {
  width: 100%;
  padding: 0;
}
.banner-mat img {
  display: none;
}	
.logo {
  width: 100%;
  padding: 0;
    text-align: center;
}
.logo img {
  width: 29%;
}
.search {
  width: 25%;
}
.h_menu4 {
  width: 67%;
}
.number {
  width:40%;
}
.content-top {
  padding: 2em 0 1em;
}
.price h5 {
  font-size: 1em;
  margin-top: 6px;
}
.footer-top {
  padding: 2em 0;
}
.top-footer iframe {
  min-height: 150px;
}
.top-footer1 {
  margin: 1em 0 0;
}
.top-footer1 h3 {
  font-size: 1.5em;
}
.top-footer1 input[type="text"] {
    width: 70%;
}
.top-footer1 input[type="submit"] {
  width: 28%;
}
.footer-bottom-cate {
  width: 50%;
    margin: 0 0 1em;
}
.footer-bottom {
  padding: 2em 0 1em;
}
.tes h2 {
    font-size: 1.7em;
}
.tes h3 {
    font-size: 1em;
}
.tes h4 {
    font-size: 1.7em;
}
.tes p {
    font-size: 1em;
}
.tes {
    top: 1em;
    left: 1em;
}
.col-md2 {
    float: left;
    width: 50%;
}
.col-md3 {
    display: none;
}
.col-md1 {
    padding: 0.5em;
    margin: 0 0 15px;
}
.top-footer {
    width: 100%;
    text-align: center;
}
.top-footer1 {
    width: 100%;
    text-align: center;
	margin:1.5em 0 0;
}
/*--products--*/
.products {
  padding: 2em 0;
}
.products h2 {
  font-size: 2em;
  margin: 0 0 0.5em;
}
.col-md3 {
  padding: 0 3px;
  margin: 0 0 1em;
}
.price a {
  font-size: 0.8em;
}
.col-md-9 {
  padding: 0;
}
.fashion-grid {
  width: 20%;
}
.fashion-grid1 {
  width: 76%;
}
.product-bottom{
	padding: 0;
}
.product-go {
  padding: 0.5em 0;
}
.tag {
  padding: 1em 0;
}
.tags {
  padding: 1em 0 0;
}
.grid {
  width: 67%;
}
/*--contact--*/
.contact h3 {
  font-size: 2em;
}
.address-more h2 {
  font-size: 1.7em;
}
.address-grid i {
  font-size: 2.5em;
}
.address1 p {
  font-size: 1.2em;
}
.address {
  padding: 2em 0 0;
}
/*--account--*/
.account h2, .register h2 {
  font-size: 2em;
}
/*--checkout--*/
.check-out h2 {
  font-size: 2em;
  margin: 0 0 0.4em;
}
.check-out {
  padding: 2em 0em;
}
.sed {
  float: right;
  width: 0;
  display: none;
}
a.at-in {
  float: left;
  width: 76%;
}
.ring-in {
  width: 20%;
}
th, td {
  padding: 7px 0px;
}
th {
  font-size: 1em;
}
td {
  font-size: 0.8em;
}
a.to-buy {
  margin: 0;
  font-size: 0.8em;
}
.single {
  padding: 2em 0;
}
/*--typo--*/
.page-header h3 {
  font-size: 2em; 
}
button.btn.btn-lg {
  font-size: 1em;
  padding: 7px;
}
button.btn.btn-1 {
  font-size: 0.9em;
  padding: 8px;
}
button.btn.btn-sm {
  font-size: 0.8em;
  padding: 9px;
}
h1#h1-bootstrap-heading {
  font-size: 2.2em;
}
h2#h2-bootstrap-heading {
  font-size: 2em;
}
h1.grid2 {
  font-size: 1.45em;
}
h2.grid2 {
  font-size: 1.35em;
}
h3.grid2 {
  font-size: 1.3em;
}
h4.grid2 {
  font-size: 1.2em;
}
h3.typo1 {
  font-size: 2em;
}
.page {
  margin: 2em 0;
}
h1.typo1 {
  font-size: 2em;
  margin: 0 0 0.8em;
}
}
@media (max-width:414px){
.h_menu4 {
  width: 60%;
}
.number {
    width: 40%;
}
.world {
    width: 30%;
    text-align: left;
}
.search {
    width: 26%;
}
.header-left {
    width: 24%;
    padding: 0;
}
.tes h4 {
    margin: 0.5em 0 0;
}
ul.callbacks_tabs.callbacks1_tabs {
    left: 50%;
}
.con-tp-lft {
    float: left;
    width: 100%;
	margin-bottom:0.8em;
}
.navbar {
    min-height: 40px;
}
.navbar-toggle {
    margin-top: 0px;
    margin-bottom: 0px;
}
}
@media(max-width:320px){
.logo {
  width: 100%;	
}
.logo h1 a {
    font-size: 0.85em;
}
.world h6 {
    font-size: 0.9em;
}
.world p {
    font-size: 0.9em;
}
.world {
    width: 33%;
    padding: 0;
	text-align:left;
}
.logo img {
  width: 46%;
}
.number p {
    color: #403b37;
    font-size: 0.85em;
}
.number {
    width: 40%;
}
.logo {
  width: 100%;
  text-align: center;
}
.box_1 h3 {
  font-size: 0.8em;
}
p.log {
  	margin-top: 7%;
    font-size: 0.9em;
}
.number span {
  font-size: 0.8em;
}
.header-left {
    width: 30%;
    padding: 0;
}
.tes h2 {
    font-size: 1.3em;
}
.tes h3 {
    font-size: 0.85em;
}
.tes h4 {
    font-size: 1.3em;
	margin: 0.5em 0 0;
}
.tes p {
    font-size: 0.85em;
}
.tes {
    top: 1em;
    left: 0.5em;
}
.search {
    width: 24%;
}
.h_menu4 {
  width: 62%;
}
.number {
  margin-top: 0%;
}
.search {
  margin-top: 4%;
}
.head-top {
  padding: 0;
}
.content-top h1 {
  font-size: 1.5em;
    margin: 0 0 0.7em;
}
.content-top {
  padding: 1.5em 0 0.5em;
}
.col-md2 {
  padding: 0 5px;
    margin-bottom: 1em;
}
.col-md1 h3 {
  font-size: 1.1em;
}
.price a {
  font-size: 0.7em;
  display: inline-block;
  float: none;
  padding: 0.3em 0.6em;
}
.col-md1 {
  padding: 0.3em;
}
.price h5 {
  font-size: 1em;
  margin: 0.4em 0;
    float: none;
}
.price {
  text-align: center;
}
.footer-top {
  padding: 1.5em 0;
}
.top-footer {
  padding: 0;
}
.top-footer1 {
  padding: 0;
}
.top-footer1 h3 {
  font-size: 1.3em;
}
.top-footer1 input[type="text"] {
  width: 65%;
  padding: 0.4em;
}
.top-footer1 input[type="submit"] {
  font-size: 0.85em;
  padding: 0.6em 0em;
  width: 33%;
}
.footer-bottom-cate {
  padding: 0;
}
p.footer-class {
  font-size: 0.9em;
  margin: 0em 0 1em;
line-height: 1.5em;
}
ul.callbacks_tabs.callbacks1_tabs {
    left: 47%;
	bottom:1px;
}
.callbacks_tabs a:after {
  height: 0px;
  width: 0px;
}
.col-md1 h3 {
    font-size: 1em;
}
.c-btm {
    padding: 4em 0 0;
}
.footer-bottom-cate h6 {
    font-size: 1.1em;
}
/*--product--*/
.products h2 {
  font-size: 1.8em;
}
.products {
  padding: 1.5em 0;
}
h3.cate {
  font-size: 1.2em;
}
.contact h3 {
  font-size: 1.7em;
    margin: 0;
}
.in-contact {
  padding: 0;
    margin: 0.5em 0 0;
}
.contact-bottom input[type="text"] {
  padding: 0.5em;
}
.contact-bottom-top {
  margin: 0.5em 0 0;
}
.contact-bottom-top textarea {
  min-height: 120px;
}
.contact-form input[type="submit"] {
  margin: 0.5em 0px 0;
  padding: 0.3em 0.5em;
  font-size: 1em;
}
.address {
  padding: 1em 0 0;
}
.address-more h2 {
  font-size: 1.5em;
  margin: 0 0 0.5em;
}
.address-grid {
  padding: 0;
}
.address-grid i {
  font-size: 2em;
}
.address1 p {
  font-size: 1em;
}
.address1 {
  margin-top: 0;
}
.contact {
  padding: 1.5em 0 0.5em;
}
.product-bottom {
  padding: 0;
}
.single {
  padding: 1.5em 0 0.5em;
}
/*--account--*/
.account, .register {
  padding: 1.5em 0;
}
.account h2, .register h2 {
  font-size: 1.7em;
}
.login-right ,.login-left,.register-top-grid,.register-bottom-grid{
  padding: 0;
}
.login-left p {
  width: 100%;
}
.login-right span {
  padding-bottom: 0em;
}
.register-but {
  margin-top: 0em;
}
.mation {
  padding: 0 0 0.5em;
}
td {
  font-size: 0.75em;
}
table {
  margin: 0em 0 1em;
}
.check-out h2 {
  font-size: 1.7em;
  margin: 0 0 0.4em;
}
.check-out {
  padding: 1.5em 0em;
}
/*--single--*/
.thumb-image {
  width: 260px;
}
.grid {
  width: 100%;
}
.single-top-in {
  padding: 0;
    margin: 0 0 1em;
}
.single-para h2 {
  font-size: 1.2em;
}
.star-on a {
  font-size: 0.8em;
}
.available {
  padding: 1em 0 1em;
}
label.add-to {
  font-size: 1.5em;
}
a.cart {
  padding: 0.2em 0.5em;
  margin: 0.5em 0 0;
}
.h_nav h4 {
  font-size: 1.1em;
}
/*--typo--*/
h1#h1-bootstrap-heading {
  font-size: 1.5em;
}
h2#h2-bootstrap-heading {
  font-size: 1.4em;
}
h3#h3-bootstrap-heading {
  font-size: 1.3em;
}
button.btn.btn-lg {
  font-size: 0.9em;
  margin: 0 0 0.5em 0px;
  padding: 9px;
}
.grid1 {
  margin: 0.7em 0 0;
}
button.btn.btn-1 {
  font-size: 0.8em;
  margin: 0 0 0.5em;
}
button.btn.btn-sm {
  font-size: 0.7em;
  padding: 5px;
  margin: 0 0 0.5em;
}
button.btn.btn-xs {
  font-size: 0.7em;
}
ul.nav.nav-pills a{
	padding: 0.5em;
  font-size: 0.9em;
}
span.label {
  margin: 0 0 0.5em;
  display: inline-block;
}
.page {
  padding: 0em;
   margin: 1.7em 0;
}
.page-header {
  margin: 16px 0 9px;
}
.grid2 {
  margin: 0.4em 0 0;
}
h3.typo1 {
  font-size: 1.7em;
}
.page-header h3 {
  font-size: 1.8em;
} 
h1.typo1 {
  font-size: 1.7em;
  margin: 0 0 0.5em;
}
th {
    font-size: 0.875em;
}
}
.errors-login h5{
    text-align: center;
    margin:20px auto !important;
    font-size: 20px;
}
.img-loaisp{
    height: 300px !important;
}
.col-md4{
    margin-bottom: 20px;

}
.swap-loai{
    height: 450px !important;
}
.swap-loai1{
    height: 470px !important;
}
.content-top p{
    margin: 10px 0 !important;
}
.media{
    margin-top: 25px !important;
}
.your-order-item{
    margin: 25px 0 !important;
}
ul.methods{
    list-style: none;
}
h3.per{
    padding-bottom: 10px;
}
.sale_pro{
    position: relative;
    top:40px;
}
.sale_pro1{ position: absolute;
    top:30px;}

